<div class="container" ng-controller="DonateController as donate">
    <div > <!--ng-show="donate.category == 0"-->
        <h3><a href="/"><button class="btn btn-primary pull-right" >Back</button></a>Pick a Category</h3>
        <div class="row donate" >
            <div class="row {{ donorContainer[0] }}">
                <h3>Clothes</h3>
                <div class="animate-switch" ng-if="!category[0]"
                    ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                    <button ng-click="donate.enterQuantity(0)" class="btn btn-primary {{ clothesAnimate }}" ><img  src="../img/shirt.png"></button>
                </div>
            </div>

            <div class="form-choice" ng-if="category[0]" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">Clothes Choices
                <div class="qunatity_row">
                    <img src="../img/shopping-basket.jpg">
                    <label>X</label>
                    <input type="text" name="input" size="5" ng-model="donate.donationQuantitySpinner[0]" />

                </div>
                <div>
                    <button ng-click="donate.submitQuantity(0)" class="btn" value="">Submit</button>
                    <button ng-click="donate.exitView(0)" class="btn" value="">Cancel</button>
                </div>
            </div>

            <div class="row {{ donorContainer[1] }}">
                <!-- <div class="donar-clothes-container"> -->
                <h3>Toys</h3>
                <div class="animate-switch" ng-if="!category[1]"
                    ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                    <button ng-click="donate.enterQuantity(1)" class="btn btn-primary {{ clothesAnimate }}" ><img  src="../img/toy.png"></button>
                </div>
            </div>

            <div class="form-choice" ng-if="category[1]" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">Toys Choices
                <div class="qunatity_row">
                    <img src="../img/shopping-basket.jpg">
                    <label>X</label>
                    <input type="text" size="5" ng-model="donate.donationQuantitySpinner[1]"/>
                </div>
                <div>
                    <button ng-click="donate.submitQuantity(1)" class="btn">Submit</button>
                    <button ng-click="donate.exitView(1)" class="btn">Cancel</button>
                </div>
            </div>

            <div class="row {{ donorContainer[2] }}">
                <h3>Food</h3>
                <div class="animate-switch" ng-if="!category[2]"
                    ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                    <button ng-click="donate.enterQuantity(2)" class="btn btn-primary {{ clothesAnimate }}" ><img  src="../img/food.png"></button>
                </div>
            </div>

            <div class="form-choice" ng-if="category[2]" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">Food Choices
                <div class="qunatity_row">
                    <img src="../img/shopping-basket.jpg">
                    <label>X</label>
                    <div>
                        <input type="text" size="5" ng-model="donate.donationQuantitySpinner[2]" />
                    </div>
                </div>
                <div>
                    <button ng-click="donate.submitQuantity(2)" class="btn" value="Submit">Submit</button>
                    <button ng-click="donate.exitView(2)" class="btn" value="Cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <div ng-show="donate.category != 0">

        <h3><button class="btn btn-primary pull-right" ng-click="donate.category = 0">Back</button>{{donate.categoryName()}}</h3>

    </div> -->
</div>
