
<div class="bg"></div>
<div class="jumbotron text-center" data-stellar-background-ratio="0.5">
	<div class="container">

        <h1>Donation Drive</h1>
        <p>You have old clothes, toys or food that you want to donate. You also don't have a convinient way to give away these things.</p>
        <p>We're here to help!</p>
    </div>
</div>
<div class="container home">
    <div class="row">
        <div class="col-md-6">
            <div class="well text-center">
                <h3>It doesn't hurt to give!</h3>
                <p>We will take your old clothes, toys or food items that you want to donate, and connect you with one of our drivers to pick up your donation at your convinience.</p>
                <img src="../img/hand.png"><br>
                <a href="/donate"><button class="btn btn-lg btn-primary">Donate</button></a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well text-center">
                <h3>Take it for a ride!</h3>
                <p>Help take donations from your neighbours to dropoff locations near you. You will meet new people while improving your community.</p>
                <img src="../img/car.png"><br>
                <a href="/drive"><button class="btn btn-lg btn-primary">Drive</button></a>
            </div>
        </div>
    </div>
</div>