
<div class="container map" >
    <div class="row">
        <div class="col-md-6 col-lg-6">
            <div>
                <div class="form-group">
                    <label>Home Location</label>
                    <input type="text" class="form-control" placeholder="Set Home Location" id="homeLocation">
                </div>
                <button class="btn btn-primary" ng-click="setLocation()">Save</button>
            </div>
            <table class="table table-hover" ng-show="pickupShow">
                <thead>
                    <tr>
                        <th>Address</th>
                        <th>Distance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="location in pickup | orderBy:'distance'" ng-mouseover="jumpMarker($index)" ng-click="pickupDetails()">
                        <td>{{location.address}}</td>
                        <td>{{location.distance | number:2}} Km</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6 col-lg-6">
            <div id="map_canvas">
            </div>
        </div>
    </div>
    
</div>
