/*body { padding-top:30px; }*/

.jumbotron {
    /*margin-bottom: 0px;*/
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg);
    background-position: 0% 75%;
    background-size: cover;
    /*background-attachment: fixed;*/
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0;
}

.home img{
    height: 150px;
    padding: 10px;
}

.donate img{
    height: 150px;
    width:  150px;
    padding: 10px;
}

/*.well{
    background-color: rgb(22, 105, 173);
}*/